<html>
<head>
<title>Cross-Pointer</title>
<script id="_fed_an_js_tag" type="text/javascript" src="/gacommon/js/Federated-Analytics.js?agency=NASA"></script>
</head>
<body bgcolor="#FFFFFF" text ="#000000" link ="#ff0000">
<center>
<a href="main.html"><IMG SRC="alsj_headline.gif" ALT="Apollo Lunar Surface Journal Banner"></a>

<p>&nbsp;<p>

<h2>Cross-Pointer</h2>

<h3>Adapted by Gary Neff from the LM Apollo Operations Handbook, Vol. 1.</h3>

&nbsp;<p>
&nbsp;<p>


<a href="LM-Panel1.jpg" target="new"><IMG SRC="LM-Panel1-s.jpg" ALT="LM Panel 1"></a>

<h4>The cross-pointer is located at eye level on LM Panel 1,<br>
just to the right of the Commander's window.<br>(Click on the image for a larger version.)</h4>

&nbsp;<p>
&nbsp;<p>


<a href="xpoint.jpg" target="new"><IMG SRC="xpoint-s.jpg" ALT="Cross-Pointer"></a>

<h4>LM cross-pointer schematic in the context of the Abort Guidance System.<br>(Click on the image for a larger version.)</h4>

&nbsp;<p>
&nbsp;<p>

</center>

The X-Pointer indicator displays forward and lateral velocities, lateral velocities only, or rendezvous radar line-of-sight elevation and azimuth angular rates, depending on the setting of the RATE/ERR MON switch and the MODE SEL switch. Forward and lateral velocities are coincident with the LM Z and Y body axis velocities when the PGNS drives the display. When the landing radar drives the display, forward and lateral velocities are coincident with LM Z and Y axis, from high gate to touchdown. When the AGS drives the display, lateral Y axis velocity only is displayed. When RR is selected, LOS rates are displayed. The red X-pointer power-failure indicator illuminates when power to the X-pointer is interrupted. The X-POINTER SCALE SWITCH controls the scale of X-POINTER indicator:

<h3>HI MULT</h3>

When LOS azimuth and elevation rates are displayed, this position provides a scale of + -20 mrad/sec. When horizontal velocities are displayed, this position illuminates the X10 multiplier to provide range of + -200 fps.

<h3>LO MULT</h3>

When LOS azimuth and elevation rates are displayed, this position
illuminates the X.1 multiplier to provide a range of + -2 mrad/sec. When horizontal
velocities are displayed, this position provides a range of + -20 fps.

<p>&nbsp;<p><center>
<a href = "main.html" > Journal Home Page</a>

</body>
<!--  508  TEAM  2001  -->
</html>
